---
	import Layout from '@layouts/layout.astro'
	import Editorial from '@components/homepage/Editorial.svelte'
	import Latest from '@components/homepage/Latest.svelte'
	import NewsFeed from '@components/homepage/NewsFeed.svelte'

	let newsError, lastEditorial, news, maxPage
	const { supabase, user } = Astro.locals
	const params = Object.fromEntries(Astro.url.searchParams)

	try {
		const res = await supabase.from('works').select('*').is('editorial', true).order('created_at', { ascending: true }).limit(1).maybeSingle()
		if (res.error) { throw res.error }
		lastEditorial = res.data
	} catch (error) {
		newsError = 'Chyba načtení editorialu: ' + error.message
	}

	const publishedOnly = params.preview ? false : true // preview unpublished news
	const page = params.page ? parseInt(params.page) : 0
	const limit = 5
	try {
		const res2 = await supabase.from('news_reactions').select('*', { count: 'exact' }).eq('published', publishedOnly).order('created_at', { ascending: false }).range(page * limit, page * limit + limit - 1)
		if (res2.error) { throw res2.error }
		news = res2.data
		maxPage = Math.ceil(res2.count / limit) - 1
	} catch (error) {
		newsError = 'Chyba načtení novinek: ' + error.message
	}
---

<Layout title='Hlavní strana'>
  {newsError ? <p>{newsError}</p> : <Editorial {lastEditorial} client:only='svelte' />}
	<main>
		<aside>
			<Latest client:only='svelte' />
		</aside>
		<content>
			<NewsFeed {user} {news} {page} {maxPage} client:only='svelte' />
		</content>
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 20px;
	}
		aside {
			width: 25%;
		}
		content {
			width: 75%;
		}

	@media (max-width: 500px) {
    main {
			flex-direction: column-reverse;
		}
			aside, content {
				width: 100%;
			}
  }
</style>