---
	import Layout from '@layouts/layout.astro'
  import WorkForm from '@components/works/WorkForm.svelte'

  const { supabase, user } = Astro.locals
  const type = Astro.url.searchParams.get('type') || 'text'

  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const name = formData.get('workName')
    const annotation = formData.get('workAnnotation')
    const category = formData.get('workCategory')
    const tags = formData.get('workTags') ? formData.get('workTags').split(',') : []
    const formType = formData.get('workType') || type
    let content = formData.get('workContent')

    if (formType !== 'text') {
      const file = formData.get('workFile')
      if (!file || file.size === 0) {
        return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chybí soubor')}`)
      }
      const fileExt = file.name.split('.').pop()
      const filePath = `${user.id}/${Date.now()}.${fileExt}`
      const { error: uploadError } = await supabase.storage.from('works').upload(filePath, file)
      if (uploadError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba uploadu: ' + uploadError.message)}`) }
      content = filePath
    }

    const { data, error } = await supabase.from('works').insert({ owner: user.id, name, category, content, annotation, tags, type: formType }).select().single()
    if (error) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba vložení díla: ' + error.message)}`) }

    // add bookmark
    const { error: bookmarkError } = await supabase.from('bookmarks').upsert({ user_id: user.id, work_id: data.id, work_thread: data.thread }, { onConflict: 'user_id, work_id', ignoreDuplicates: true })
    if (bookmarkError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba přidání záložky: ' + bookmarkError.message)}`) }

    // get thread of board id 999
    const { data: threadData, error: threadError } = await supabase.from('boards').select('thread').eq('id', 999).single()
    if (threadError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba získání threadu: ' + threadError.message)}`) }

    // add post to approval discussion
    const { error: postError } = await supabase.from('posts').insert({
      thread: threadData.thread,
      owner: user.id,
      owner_type: 'user',
      content: `Přidal/a jsem nové dílo: <a href='/work/${data.id}'>${data.name}</a>`,
      important: true,
      post_type: 'other'
    })
    if (postError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba v přidání upozornění na dílo: ' + insertError.message)}`) }

    return Astro.redirect(`/work/${data.id}?toastType=success&toastText=${encodeURIComponent('Dílo bylo přidáno, čeká na schválení')}`)
  }
---

<Layout title={'Vytvořit ' + (type === 'text' ? 'článek' : type === 'image' ? 'obrázek' : 'hudbu')}>
  <a href='javascript:history.back()'>zpět</a>

  <h1>Vytvořit {type === 'text' ? 'článek' : type === 'image' ? 'obrázek' : 'hudbu'}</h1>
  <WorkForm {user} {type} client:only='svelte' />
</Layout>
