---
  import { getHash } from '@lib/database'
  import { base64ToBlob } from '@lib/utils'
	import Layout from '@layouts/layout.astro'
  import MapForm from '@components/games/MapForm.svelte'

  const { supabase, user } = Astro.locals
  let mapId = Astro.url.searchParams.get('mapId')
  let gameId = Astro.url.searchParams.get('gameId')
  let isStoryteller = false
  let game = {}
  let map = {}
  const edit = !!mapId

  if (gameId) {
    const { data: gameData, error: gameError } = await supabase.from('games').select('*').eq('id', gameId).single()
    if (gameError) { return Astro.redirect(`/game/${gameId}?toastType=error&toastText=${encodeURIComponent('Chyba: ' + gameError.message)}`) }
    game = gameData

    const { data: storytellerData, error: storytellerError } = await supabase.rpc('is_storyteller', { game_id: gameId }).single()
    if (storytellerError) { return Astro.redirect(`/game/${gameId}?toastType=error&toastText=${encodeURIComponent('Chyba: ' + storytellerError.message)}`) }
    isStoryteller = storytellerData

    if (edit) {
      const { data: mapData, error: mapError } = await supabase.from('maps').select('*').eq('id', mapId).single()
      if (mapError) { return Astro.redirect(`/game/${gameId}?toastType=error&toastText=${encodeURIComponent('Chyba: ' + mapError.message)}`) }
      map = mapData
    }

    if (Astro.request.method === 'POST' && isStoryteller) {
      const formData = await Astro.request.formData()
      const name = formData.get('mapName')
      const hidden = formData.get('mapHidden')
      const description = formData.get('mapDescription')
      
      let image = formData.get('mapImage')
      const imageUrl = formData.get('mapGeneratedUrl')
      if (imageUrl) {
        const res = await fetch(imageUrl)
        if (res.error) { return Astro.redirect(`/game/${gameId}?toastType=error&toastText=${encodeURIComponent('Chyba: ' + res.error)}`) }
        image = await res.blob()
      }
      
      if (name) {
        let res
        if (edit) {
          res = await supabase.from('maps').update({ name, description, image: getHash(), hidden }).eq('id', mapId).select().single()
        } else {
          res = await supabase.from('maps').insert({ game: gameId, name, description, image: getHash() }).select().single()
        }
        if (res.error) { return Astro.redirect(`/game/${gameId}?toastType=error&toastText=${encodeURIComponent('Chyba: ' + res.error.message)}`) }
        map = res.data

        if (image && image.size > 0) {
          const { data: uploadData, error: uploadError } = await supabase.storage.from('maps').upload(`${gameId}/${map.id}`, image, { upsert: true })
          if (uploadError) { return Astro.redirect(`/game/${gameId}?toastType=error&toastText=${encodeURIComponent('Chyba: ' + uploadError.message)}`) }
          console.log('uploadData', uploadData)
        }
        return Astro.redirect(`/game/${gameId}?tab=game&tool=maps&toastType=success&toastText=${edit ? encodeURIComponent('Mapa byla upravena') : encodeURIComponent('Mapa byla přidána')}`)
      } else {
        return Astro.redirect(`/game/${gameId}?toastType=error&toastText=${encodeURIComponent('Chyba: Chybí obrázek nebo název mapy')}`)
      }
    }
  }
---

<Layout title={edit ? 'Upravit mapu' : 'Přidat mapu'}>
  <a href='javascript:history.back()'>zpět</a>
  {user.id && gameId && isStoryteller ? (
    <MapForm {map} {game} userId={user.id} client:only />
  ) : (
    <center>Tato stránka je jen pro vypravěče hry</center>
  )}
</Layout>
