---
  import { getHash } from '@lib/database'
	import Layout from '@layouts/layout.astro'
  import MapForm from '@components/games/MapForm.svelte'

  const { supabase, user } = Astro.locals
  const mapId = Astro.url.searchParams.get('id')
  const gameId = Astro.url.searchParams.get('gameId')
  let isStoryteller = false
  let game = {}
  let map = {}

  if (gameId) {
    const { data: gameData, error: gameError } = await supabase.from('games').select('*').eq('id', gameId).single()
    if (gameError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + gameError.message)}`) }
    game = gameData

    const { data: characterData, error: characterError } = await supabase.from('characters').select('player:profiles(id, name), storyteller').eq('game', gameId)
    if (characterError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + characterError.message)}`) }
    isStoryteller = characterData.some(c => c.storyteller && c.player.id === user.id)

    if (mapId) { // edit
      const { data: mapData, error: mapError } = await supabase.from('maps').select('*').eq('id', mapId).single()
      if (mapData) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + mapError.message)}`) }
      map = mapData
    }

    if (Astro.request.method === 'POST' && isStoryteller) {
      const formData = await Astro.request.formData()
      const name = formData.get('mapName')
      const mapImage = formData.get('mapImage')
      const description = formData.get('mapDescription')
      if (name && mapImage) {
        const { data: mapDataInsert, error: insertError } = await supabase.from('maps').insert({ game: gameId, name, description, image: getHash() }).select().single()
        if (insertError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + insertError.message)}`) }
        map.id = mapDataInsert.id // add id for a new map

        const { error: uploadError } = await supabase.storage.from('maps').upload(`${gameId}/${map.id}`, mapImage, { upsert: true })
        if (uploadError) { return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: ' + uploadError.message)}`) }

        return Astro.redirect(`/game/${gameId}?tab=game&tool=maps&toastType=success&toastText=${encodeURIComponent('Mapa byla přidána')}`)
      } else {
        return Astro.redirect(`/?toastType=error&toastText=${encodeURIComponent('Chyba: Chybí obrázek nebo název mapy')}`)
      }
    }
  }
---

<Layout title='Přidat mapu'>
  <a href='javascript:history.back()'>zpět</a>
  {user.id && gameId && isStoryteller ? (
    <MapForm {map} {game} userId={user.id} client:only />
  ) : (
    <center>Tato stránka je jen pro vypravěče hry</center>
  )}
</Layout>
