---
import Header from '@components/Header.svelte'

const { pathname } = new URL(Astro.url, Astro.site)
const { user, bookmarks } = Astro.locals
const { title, headerStatic, headerStorage } = Astro.props

const obsidian = await fetch('https://andor2.cz/obsidian.css').then((res) => res.text())
---

<html lang='cs'>
	<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Andor2.cz ― Dračí Doupě online, TTRPG, VTT, RPG hry online, Dungeons & Dragons, D&D, DnD, Vampire, Call of Cthulhu, Pathfinder, Shadowrun, Cyberpunk, Fate, Star Wars, Warhammer, Pán Prstenů' />

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='preload' as='style' href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap' rel='stylesheet' onload="this.onload=null; this.rel='stylesheet'">
    <link rel='icon' href='https://www.andor2.cz/favicon.png' type='image/png' />

    <style type='text/css' set:html={`${obsidian}`}></style>

    <title>Andor2.cz ― {title} - záloha hry</title>
  </head>
	<body>
    <div id='wrapper'>
      <main>
        <Header {pathname} {headerStatic} {headerStorage} showMenu={false} />
        <div id='content'>
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  body {
    margin: 20px;
    margin-top: 0px;
  }

  #wrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
  }

    main {
      flex: 1;
    }

      #content {
        padding: 40px 60px 60px 60px;
        background-color: var(--panel);
        border-radius: 0px 0px 10px 10px;
      }

    footer {
      margin-top: 20px;
      padding: 20px;
      text-align: center;
    }

  @media (max-width: 1200px) {
    #content {
      padding: 20px 30px 30px 30px;
    }
  }

  @media (max-width: 860px) {
    body {
      margin: 0px;
    }
    main {
      border-radius: 0px;
    }
      #content {
        padding: 15px;
        padding-bottom: 50px;
        min-height: 550px;
      }
  }
</style>
