---
import { ViewTransitions } from 'astro:transitions'
import pkg from '../../package.json' assert { type: 'json' }
import Header from '@components/Header.svelte'
import Sidebar from '@components/sidebar/Sidebar.svelte'
import Store from '@components/common/Store.svelte'
import 'tippy.js/dist/tippy.css'

const { version } = pkg
const { pathname } = new URL(Astro.url, Astro.site)
const { user, bookmarks } = Astro.locals
const { title, header } = Astro.props
const test = 'abc'
---

<html lang='cs'>
	<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Andor2.cz ― Dračí Doupě online, TTRPG, VTT, RPG hry online, Dungeons & Dragons, D&D, DnD, Vampire, Call of Cthulhu, Pathfinder, Shadowrun, Cyberpunk, Fate, Star Wars, Warhammer, Pán Prstenů' />

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap' rel='stylesheet'>
    <link rel='icon' href='/favicon.png' type='image/png' />
    <link rel='stylesheet' href='/obsidian.css'>

    <ViewTransitions />
    <title>Andor2.cz ― {title}</title>
  </head>
	<body>
    <Store {user} client:only />
    <div id='wrapper'>
      <main>
        <Header {pathname} customImage={header} client:only />
        <div id='content'>
          <slot />
        </div>
        <footer>v{version}</footer>
      </main>
      <Sidebar {user} bookmarkData={bookmarks} client:only />
    </div>

    <script>
      import { lookForToast, showSuccess, showError } from '@lib/toasts'
      lookForToast()
      window.showSuccess = showSuccess
      window.showError = showError
    </script>
  </body>
</html>

<style>
  body {
    margin: 20px;
    margin-top: 0px;
  }

  #wrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
  }

    main {
      flex: 1;
    }

      #content {
        padding: 40px 60px 60px 60px;
        background-color: var(--panel);
        border-radius: 0px 0px 10px 10px;
      }

    footer {
      margin-top: 20px;
      padding: 20px;
      text-align: center;
    }

  @media (max-width: 860px) {
    body {
      margin: 0px;
    }
    main {
      border-radius: 0px;
    }
      #content {
        padding: 15px;
        padding-bottom: 50px;
        min-height: 550px;
      }
  }
</style>
