---
import 'tippy.js/dist/tippy.css'
import { ViewTransitions } from 'astro:transitions'
import pkg from '../../package.json' assert { type: 'json' }
import Header from '@components/Header.svelte'
import Sidebar from '@components/sidebar/Sidebar.svelte'
import Store from '@components/common/Store.svelte'
import Arrows from '@components/common/Arrows.svelte'
import Lightbox from '@components/common/Lightbox.svelte'
import HeaderCrop from '@components/common/HeaderCrop.svelte'

const { version } = pkg
const { pathname } = new URL(Astro.url, Astro.site)
const { user } = Astro.locals
const { title, headerStatic, headerStorage } = Astro.props
---

<html lang='cs'>
	<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Andor2.cz ― Dračí Doupě online, TTRPG, VTT, RPG hry online, Dungeons & Dragons, D&D, DnD, Vampire, Call of Cthulhu, Pathfinder, Shadowrun, Cyberpunk, Fate, Star Wars, Warhammer, Pán Prstenů' />
    <link rel='manifest' href='/manifest.json'>

    <link rel='icon' href='/favicon.png' type='image/png' />

    <!-- fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&family=Orbitron:wght@400..900&display=swap'>

    <!-- temporary, for news post -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parisienne&amp;display=swap">

    <link rel='stylesheet' href={`/css/${user.theme || 'obsidian'}.css?v=${version}`}>

    <!-- services -->
    <!--<script src='https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit' async defer></script>-->
    <!--<script src='https://www.google.com/recaptcha/api.js?render=6LeGwKwpAAAAAPUzv6wpjauCabPEZp4YX8lfCivG' defer></script>-->

    <ViewTransitions />
    <title>Andor2.cz ― {title}</title>
  </head>
	<body>
    <Lightbox client:only='svelte' />
    <HeaderCrop client:only='svelte' />
    <div id='wrapper'>
      <main>
        <Header {pathname} {headerStatic} {headerStorage} client:only='svelte' />
        <div class='content'>
          <Arrows client:only='svelte' />
          <slot />
        </div>
        <footer>
          <a href='https://github.com/EskelCz/andor2' target='_blank'>v{version}</a>
        </footer>
      </main>
      <!-- show sidebar when logged in or logged out, not in onboarding when name is missing -->
      {(user.name || (!user.name && !user.email)) ? (
        <Sidebar {pathname} {user} client:only='svelte' />
      ) : null}
    </div>
  </body>
</html>

<style>
  body {
    margin-top: 0px;
  }
  #wrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
  }
    main {
      flex: 1;
      min-width: 0;
    }
      .content {
        position: relative;
        padding: 40px 30px;
        background-color: var(--panel);
        border-radius: 0px 0px 10px 10px;
        max-width: 100vw;
      }
        .chat {
          padding: 0px 40px !important;
          border-radius: 0px;
        }
    footer {
      margin-top: 20px;
      padding: 20px;
      text-align: center;
    }
  
  button.up {
    position: sticky;
    top: 0px;
    right: 0px;
    z-index: 9;
    border-radius: 0 0 0 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  @media (max-width: 1200px) {
    .content {
      padding: 20px 30px 30px 30px;
    }
  }

  @media (max-width: 1000px) {
    #wrapper {
      contain: content;
    }
  }

  @media (max-width: 860px) {
    body {
      margin: 0px;
    }
    main {
      border-radius: 0px;
    }
      .content {
        padding: 15px;
        min-height: calc(100svh - 150px);
      }
    footer {
      display: none;
    }
  }
</style>
