---
import 'tippy.js/dist/tippy.css'
import { ViewTransitions } from 'astro:transitions'
import pkg from '../../package.json' assert { type: 'json' }
import Header from '@components/Header.svelte'
import Sidebar from '@components/sidebar/Sidebar.svelte'
import Store from '@components/common/Store.svelte'
import Arrows from '@components/common/Arrows.svelte'
import Lightbox from '@components/common/Lightbox.svelte'

const { version } = pkg
const { pathname } = new URL(Astro.url, Astro.site)
const { user } = Astro.locals
const { title, headerStatic, headerStorage } = Astro.props
---

<html lang='cs'>
	<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Andor2.cz ― Dračí Doupě online, TTRPG, VTT, RPG hry online, Dungeons & Dragons, D&D, DnD, Vampire, Call of Cthulhu, Pathfinder, Shadowrun, One Ring, Cyberpunk, Fate, Star Wars, Warhammer, Pán Prstenů' />
    <link rel='manifest' href='/manifest.json'>

    <link rel='icon' href='/favicon.png' type='image/png' />

    <!-- fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&family=Orbitron:wght@400..900&display=swap'>

    <!-- styles -->
    <link rel='stylesheet' href={`/css/common/base.css?v=${version}`}>
    <link rel='stylesheet' href={`/css/${user.theme || 'obsidian'}.css?v=${version}`}>

    <ViewTransitions />
    <title>Andor2.cz{title ? ` ― ${title}` : ''}</title>
  </head>
	<body>
    <Lightbox client:only='svelte' />
    <div id='center'>
      <main id='scrollable'>
        <ul id='header'>
          <li><a href='/'><span class='material'>star</span><span>Novinky</span></a></li>
          <li><a href='/games'><span class='material'>casino</span><span>Hry</span></a></li>
          <li><a href='/works'><span class='material'>edit</span><span>Tvorba</span></a></li>
          <li><a href='/boards'><span class='material'>forum</span><span>Diskuze</span></a></li>
          <li><a href='/chat' class='active'><span class='material'>chat</span><span>Chat</span></a></li>
        </ul>
        <div class='content chat'>
          <slot />
        </div>
      </main>
      <!-- show sidebar when logged in or logged out, not in onboarding when name is missing -->
      {(user.name || (!user.name && !user.email)) ? (
        <Sidebar {pathname} {user} client:only='svelte' />
      ) : null}
    </div>
    <!-- analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-W0K9N4XNHJ'></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() { dataLayer.push(arguments) }
      gtag('js', new Date())
      gtag('config', 'G-W0K9N4XNHJ')
    </script>
  </body>
</html>

<style>
  body {
    margin-top: 0px;
  }
  #center {
    max-width: 1400px;
    margin: auto;
    display: flex;
    contain: content;
  }
    #scrollable {
      contain: content;
      height: 100svh;
      overflow: auto;
      outline: none;
      position: relative;
      flex: 1;
    }
      #header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 15px;
        margin: 0px;
        z-index: 999;
        background-color: var(--panel);
        box-shadow: 2px 2px 4px 0px #00000040;
        display: flex;
        gap: 20px;
      }
        #header li {
          list-style-type: none;
        }
          #header li a {
            display: flex;
            gap: 10px;
            align-items: center;
            text-decoration: none;
          }
          #header li a.active {
            color: var(--text);
          }
      .content {
        position: relative;
        padding: 40px;
        background-color: var(--panel);
        border-radius: 0px 0px 10px 10px;
      }
        .chat {
          padding: 0px 40px;
          border-radius: 0px;
        }

    footer {
      margin-top: 20px;
      padding: 20px;
      text-align: center;
    }
  
  button.up {
    position: sticky;
    top: 0px;
    right: 0px;
    z-index: 9;
    border-radius: 0 0 0 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  @media (max-width: 1200px) {
    .content {
      padding: 20px 30px 30px 30px;
    }
  }

  @media (max-width: 860px) {
    #header {
      justify-content: space-between;
      gap: 0px;
    }
    body {
      margin: 0px;
    }
    main {
      border-radius: 0px;
    }
      .content {
        padding: 15px;
        min-height: calc(100svh - 150px);
      }
    footer {
      display: none;
    }
  }

  @media (max-width: 530px) {
    #header li .material {
      display: none;
    }
      .content {
        padding: 0px 15px;
      }
  }
</style>
